<ion-view view-title="Browse">
  <ion-content>
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
    </label>
  </div>
  <ul class="list">
      <a class="item item-icon-right" ng-repeat="class in classes" ng-click="clickClass($index)">
          {{ class.title }}
          <i ng-if="class.hasCourse" class="icon ion-checkmark-round"></i>
      </a>
    </ul>
  </ion-content>
</ion-view>
