<ion-view view-title="My Classes" cache-view="false">
  <ion-content class="padding">
    <h3 class="text-center">My Classes</h3>
    <div class="row" style="flex-wrap: wrap">
        <div class="col col-33 class-wrapper" ng-repeat="course in courses">
            <div class="class-item" style="background: {{ course.color }}">
                <img ng-src="{{ course.imageUrl }}" class="class-image" />
            </div>
            <h4 class="class-text">{{ course.title }}</h4>
        </div>
    </div>
  </ion-content>
</ion-view>
